# Gem related stuff
*.gem
/pkg
/.bundle
/Gemfile.lock
/vendor

# Testing stuff
/coverage
/spec/reports
*.log
/adhearsion.pid

# RBX stuff
/.rbx/

# Editor temp/backup files
*~
.*.sw?

# General
/nbproject
.DS_Store
/.rvmrc
/.yardoc
/doc
/tmp
